.version.index /* version checker */
{
	color: #0000EB;
	background-color: #52A30F;
}

@-ms-viewport
{
	width: 480px;
}

@-webkit-viewport
{
	width: 480px;
}

@-o-viewport
{
	width: 480px;
}

@-moz-viewport
{
	width: 480px;
}

@viewport
{
	width: 480px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 480px;
	min-height: 650.5999999999995px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-bottom: -28px;
	width: 0.01px;
}

#u3905
{
	z-index: 17;
}

#u3906-6
{
	z-index: 18;
	min-height: 42px;
}

#u3906-6.AccordionPanelTabOpen
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 42px;
	margin: 0px;
}

#u6128
{
	z-index: 24;
	width: 105px;
}

#u6129
{
	z-index: 25;
	margin-bottom: -8px;
	width: 12px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 69px;
}

#u6131
{
	z-index: 27;
	width: 105px;
	margin-right: -10000px;
}

#u6132
{
	z-index: 28;
	width: 105px;
	margin-right: -10000px;
}

#u6133
{
	z-index: 29;
	width: 38px;
	height: 38px;
	margin-bottom: -3px;
	margin-right: -10000px;
	margin-top: -3px;
	left: -3px;
}

#u6134
{
	z-index: 30;
	width: 62px;
	height: 15px;
	margin-right: -10000px;
	left: 43px;
}

#u3907
{
	z-index: 32;
	padding-top: 3px;
	padding-bottom: 2px;
}

#buttonu3917
{
	z-index: 33;
	width: 480px;
	height: 28px;
}

#buttonu3917:hover
{
	width: 480px;
	height: 28px;
	min-height: 0px;
	margin: 0px;
}

#buttonu3917.ButtonSelected
{
	width: 480px;
	height: 28px;
	min-height: 0px;
	margin: 0px;
}

#buttonu3926
{
	z-index: 34;
	width: 480px;
	height: 28px;
	margin-top: 4px;
}

#buttonu3926:hover
{
	width: 480px;
	height: 28px;
	min-height: 0px;
	margin: 4px 0px 0px;
}

#buttonu3927
{
	z-index: 35;
	width: 480px;
	height: 30px;
	margin-top: 3px;
}

#buttonu3927:hover
{
	width: 480px;
	height: 30px;
	min-height: 0px;
	margin: 3px 0px 0px;
}

#buttonu3927.ButtonSelected
{
	width: 480px;
	height: 30px;
	min-height: 0px;
	margin: 3px 0px 0px;
}

#buttonu3928
{
	z-index: 36;
	width: 480px;
	height: 28px;
	margin-top: 4px;
}

#buttonu3926.ButtonSelected,#buttonu3928:hover
{
	width: 480px;
	height: 28px;
	min-height: 0px;
	margin: 4px 0px 0px;
}

#buttonu3928.ButtonSelected
{
	width: 480px;
	height: 28px;
	min-height: 0px;
	margin: 4px 0px 0px;
}

#accordionu3904,#accordionu3904-bw
{
	z-index: 16;
}

#pu3377
{
	width: 0.01px;
	margin-top: 5px;
}

#u3377
{
	z-index: 37;
	height: 392px;
	background: #186AB8 url("/static/images/core-u3377-fr.png") no-repeat center center;
	background-size: contain;
}

#u3377-bw
{
	z-index: 37;
	height: 392px;
}

#u3430-6
{
	z-index: 38;
	min-height: 392px;
	background-color: transparent;
	text-align: center;
}

#u3431
{
	z-index: 44;
	width: 376px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u3442
{
	z-index: 45;
	width: 376px;
	height: 77px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("/static/images/slogan-u3442-fr.png") no-repeat right center;
	background-size: contain;
}

#u3432
{
	z-index: 46;
	width: 203px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 88px;
}

#u3433
{
	z-index: 47;
	width: 138px;
	height: 273px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	background: transparent url("/static/images/iphone1-u3433-fr.png") no-repeat center center;
	background-size: contain;
}

#u3434
{
	z-index: 48;
	width: 124px;
	height: 211px;
	position: relative;
	margin-right: -10000px;
	margin-top: 51px;
	left: 6px;
	background: transparent url("/static/images/iphone1_picture-u3434-fr.png") no-repeat center center;
	background-size: contain;
}

#u3436
{
	z-index: 49;
	width: 138px;
	height: 273px;
	position: relative;
	margin-right: -10000px;
	left: 65px;
	background: transparent url("/static/images/iphone2-u3436-fr.png") no-repeat center center;
	background-size: contain;
}

#u3435
{
	z-index: 50;
	width: 124px;
	height: 211px;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 72px;
	background: transparent url("/static/images/iphone2_picture-u3435-fr.png") no-repeat center center;
	background-size: contain;
}

#u3439
{
	z-index: 51;
	vertical-align: top;
	width: 154px;
	height: 158px;
	position: relative;
	margin-right: -10000px;
	margin-top: 83px;
	left: 222px;
	background: url("/static/images/b5%20-u3439.png") no-repeat 0px 0px;
}

#u3437
{
	z-index: 52;
	width: 124px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 269px;
	left: 243px;
}

#u3438
{
	z-index: 54;
	height: 52px;
	width: 144px;
	vertical-align: top;
	margin-bottom: -9px;
	position: relative;
	margin-right: -10000px;
	margin-top: -10px;
	left: -10px;
	background: url("/static/images/weibo-u3438.png") no-repeat 10px 10px;
}

#u3438:hover
{
	background: url("/static/images/weibo-u3438-r.png") no-repeat 0px 0px;
}

#u3440
{
	z-index: 56;
	width: 122px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 317px;
	left: 244px;
}

#u3441
{
	z-index: 58;
	height: 44px;
	width: 134px;
	vertical-align: top;
	margin-bottom: -5px;
	position: relative;
	margin-right: -10000px;
	margin-top: -6px;
	left: -6px;
	background: url("/static/images/wechat-u3441.png") no-repeat 6px 6px;
}

#u3441:hover
{
	background: url("/static/images/wechat-u3441-r.png") no-repeat 0px 0px;
}

#u3430-6-bw
{
	z-index: 38;
	min-height: 392px;
	margin-top: 7px;
}

#u3454-6
{
	z-index: 61;
	min-height: 82px;
	background-color: transparent;
	text-align: center;
	line-height: 14px;
}

#u3430,#u3454
{
	font-size: 1px;
	line-height: 0px;
}

#u3462
{
	margin-top: -3px;
	margin-bottom: 3px;
}

#u3455
{
	z-index: 67;
	width: 339px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u3459
{
	z-index: 68;
	width: 157px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 182px;
}

#u3460
{
	z-index: 70;
	height: 87px;
	width: 174px;
	vertical-align: top;
	margin-bottom: -8px;
	position: relative;
	margin-right: -10000px;
	margin-top: -8px;
	left: -8px;
	background: url("/static/images/round%20rct2-u3460.png") no-repeat 8px 8px;
}

#u3460:hover
{
	background: url("/static/images/round%20rct2-u3460-r.png") no-repeat 0px 0px;
}

#u3461
{
	z-index: 73;
	height: 69px;
	width: 156px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 1px;
	background: url("/static/images/android-u3461.png") no-repeat 15px 15px;
}

#u3461:hover
{
	background: url("/static/images/android-u3461-r.png") no-repeat 0px 0px;
}

#u3456
{
	z-index: 75;
	width: 162px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3458
{
	z-index: 77;
	height: 103px;
	width: 194px;
	vertical-align: top;
	margin-bottom: -15px;
	position: relative;
	margin-right: -10000px;
	margin-top: -16px;
	left: -16px;
	background: url("/static/images/round%20rct6-u3458.png") no-repeat 16px 16px;
}

#u3458:hover
{
	background: url("/static/images/round%20rct6-u3458-r.png") no-repeat 0px 0px;
}

#u3457
{
	z-index: 80;
	height: 63px;
	width: 152px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
	background: url("/static/images/iphone-u3457.png") no-repeat 11px 11px;
}

#u3457:hover
{
	background: url("/static/images/iphone-u3457-r.png") no-repeat 0px 0px;
}

#u3454-6-bw
{
	z-index: 61;
	min-height: 82px;
	margin-top: 20px;
}

#pu3640
{
	width: 0.01px;
	margin-left: 32px;
}

#u3640
{
	z-index: 85;
	width: 144px;
	height: 221px;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	position: relative;
	margin-right: -10000px;
	background: transparent url("/static/images/pig-u3640-fr.png") no-repeat left top;
	background-size: contain;
}

#pu3638
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 50px;
	margin-left: 208px;
}

#u3638
{
	z-index: 83;
	width: 188px;
	height: 82px;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	background: transparent url("/static/images/slogan-u3638-fr.png") no-repeat left top;
	background-size: contain;
}

#u3639
{
	z-index: 84;
	width: 188px;
	height: 47px;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	margin-top: 15px;
	position: relative;
	background: transparent url("/static/images/slogan2-u3639-fr.png") no-repeat left top;
	background-size: contain;
}

#ppu3641
{
	width: 0.01px;
	margin-left: 32px;
	margin-top: 21px;
}

#pu3641
{
	width: 0.01px;
	padding-bottom: 1px;
	margin-right: -10000px;
	margin-top: 12px;
}

#u3641
{
	z-index: 86;
	width: 207px;
	height: 58px;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	position: relative;
	background: transparent url("/static/images/text3-u3641-fr.png") no-repeat left top;
	background-size: contain;
}

#u3642
{
	z-index: 87;
	width: 208px;
	height: 11px;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	margin-top: 10px;
	position: relative;
	background: transparent url("/static/images/slogan5-u3642-fr.png") no-repeat left top;
	background-size: contain;
}

#u3643
{
	z-index: 88;
	width: 208px;
	height: 16px;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	margin-top: 9px;
	position: relative;
	background: transparent url("/static/images/slogan6-u3643-fr.png") no-repeat left top;
	background-size: contain;
}

#u3644
{
	z-index: 89;
	width: 188px;
	height: 117px;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	position: relative;
	margin-right: -10000px;
	left: 225px;
	background: transparent url("/static/images/zhuzhuangtu-u3644-fr.png") no-repeat left top;
	background-size: contain;
}

#ppu3647
{
	width: 0.01px;
	margin-left: 32px;
	margin-top: 49px;
}

#pu3647
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 7px;
	margin-left: 155px;
}

#u3647
{
	z-index: 92;
	width: 258px;
	height: 73px;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	position: relative;
	background: transparent url("/static/images/slogan3-u3647-fr.png") no-repeat left top;
	background-size: contain;
}

#u3645
{
	z-index: 90;
	width: 258px;
	height: 42px;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	margin-top: 7px;
	position: relative;
	background: transparent url("/static/images/slogan4-u3645-fr.png") no-repeat left top;
	background-size: contain;
}

#u3646
{
	z-index: 91;
	width: 114px;
	height: 114px;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	position: relative;
	margin-right: -10000px;
	background: transparent url("/static/images/calender-u3646-fr.png") no-repeat left top;
	background-size: contain;
}

#u3648
{
	z-index: 93;
	width: 93px;
	height: 17px;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	position: relative;
	margin-right: -10000px;
	margin-top: 88px;
	left: 10px;
	background: transparent url("/static/images/sell-u3648-fr.png") no-repeat left top;
	background-size: contain;
}

#u3649
{
	z-index: 94;
	vertical-align: top;
	width: 16px;
	height: 15px;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: 46px;
	background: url("/static/images/mouse-u3649.png") no-repeat 0px 0px;
}

#ppu3662
{
	width: 0.01px;
	margin-left: 32px;
	margin-top: 15px;
}

#pu3662
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 7px;
}

#u3662
{
	z-index: 95;
	width: 208px;
	height: 70px;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	position: relative;
	background: transparent url("/static/images/slogan7-u3662-fr.png") no-repeat left top;
	background-size: contain;
}

#u3663
{
	z-index: 96;
	width: 265px;
	height: 35px;
	opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
	margin-top: 5px;
	position: relative;
	background: transparent url("/static/images/slogan8-u3663-fr.png") no-repeat left top;
	background-size: contain;
}

#u3664
{
	z-index: 97;
	width: 132px;
	height: 151px;
	opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
	position: relative;
	margin-right: -10000px;
	left: 281px;
	background: transparent url("/static/images/earth-u3664-fr.png") no-repeat left top;
	background-size: contain;
}

.js #u3640.ose_pre_init,.js #u3638.ose_pre_init,.js #u3639.ose_pre_init,.js #u3641.ose_pre_init,.js #u3642.ose_pre_init,.js #u3643.ose_pre_init,.js #u3644.ose_pre_init,.js #u3647.ose_pre_init,.js #u3645.ose_pre_init,.js #u3646.ose_pre_init,.js #u3648.ose_pre_init,.js #u3662.ose_pre_init,.js #u3663.ose_pre_init,.js #u3664.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#pu3378
{
	width: 0.01px;
}

#u3378
{
	z-index: 2;
	width: 480px;
	height: 301px;
	margin-right: -10000px;
	margin-top: 1px;
}

#u3484
{
	margin-top: 16px;
	margin-bottom: -16px;
}

#u3478
{
	z-index: 9;
	width: 330px;
}

#u3482
{
	z-index: 10;
	width: 118px;
	height: 16px;
	margin-right: -10000px;
	left: 106px;
}

#u3483
{
	z-index: 11;
	width: 330px;
	height: 51px;
	margin-right: -10000px;
	margin-top: 148px;
}

#u3480
{
	z-index: 12;
	width: 330px;
	height: 51px;
	margin-right: -10000px;
	margin-top: 87px;
}

#u3481
{
	z-index: 13;
	width: 330px;
	height: 51px;
	margin-right: -10000px;
	margin-top: 26px;
}

#u3479
{
	z-index: 14;
	width: 330px;
	height: 51px;
	margin-right: -10000px;
	margin-top: 208px;
}

#u3471-6,#u3471-6-bw
{
	z-index: 3;
	min-height: 291px;
}

body
{
	position: relative;
	min-width: 480px;
	padding-bottom: 17px;
}

#page .verticalspacer
{
	clear: both;
}

