.version.iss /* version checker */
{
	color: #000012;
	background-color: #B91660;
}

@-ms-viewport
{
	width: 480px;
}

@-webkit-viewport
{
	width: 480px;
}

@-o-viewport
{
	width: 480px;
}

@-moz-viewport
{
	width: 480px;
}

@viewport
{
	width: 480px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 480px;
	min-height: 651px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#page_position_content
{
	margin-bottom: -28px;
	width: 0.01px;
}

#u3905
{
	z-index: 17;
}

#u3906-6
{
	z-index: 18;
	min-height: 42px;
}

#u3906-6.AccordionPanelTabOpen
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 42px;
	margin: 0px;
}

#u6128
{
	z-index: 24;
	width: 105px;
}

#u6129
{
	z-index: 25;
	margin-bottom: -8px;
	width: 12px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 69px;
}

#u6131
{
	z-index: 27;
	width: 105px;
	margin-right: -10000px;
}

#u6132
{
	z-index: 28;
	width: 105px;
	margin-right: -10000px;
}

#u6133
{
	z-index: 29;
	width: 38px;
	height: 38px;
	margin-bottom: -3px;
	margin-right: -10000px;
	margin-top: -3px;
	left: -3px;
}

#u6134
{
	z-index: 30;
	width: 62px;
	height: 15px;
	margin-right: -10000px;
	left: 43px;
}

#u3907
{
	z-index: 32;
	padding-top: 3px;
	padding-bottom: 2px;
}

#buttonu3917
{
	z-index: 33;
	width: 480px;
	height: 28px;
}

#buttonu3917:hover
{
	width: 480px;
	height: 28px;
	min-height: 0px;
	margin: 0px;
}

#buttonu3917.ButtonSelected
{
	width: 480px;
	height: 28px;
	min-height: 0px;
	margin: 0px;
}

#buttonu3926
{
	z-index: 34;
	width: 480px;
	height: 28px;
	margin-top: 4px;
}

#buttonu3926:hover
{
	width: 480px;
	height: 28px;
	min-height: 0px;
	margin: 4px 0px 0px;
}

#buttonu3927
{
	z-index: 35;
	width: 480px;
	height: 30px;
	margin-top: 3px;
}

#buttonu3927:hover
{
	width: 480px;
	height: 30px;
	min-height: 0px;
	margin: 3px 0px 0px;
}

#buttonu3927.ButtonSelected
{
	width: 480px;
	height: 30px;
	min-height: 0px;
	margin: 3px 0px 0px;
}

#buttonu3928
{
	z-index: 36;
	width: 480px;
	height: 28px;
	margin-top: 4px;
}

#buttonu3926.ButtonSelected,#buttonu3928:hover
{
	width: 480px;
	height: 28px;
	min-height: 0px;
	margin: 4px 0px 0px;
}

#buttonu3928.ButtonSelected
{
	width: 480px;
	height: 28px;
	min-height: 0px;
	margin: 4px 0px 0px;
}

#accordionu3904,#accordionu3904-bw
{
	z-index: 16;
}

#pu6210
{
	width: 0.01px;
	margin-top: 2px;
}

#u6210
{
	z-index: 37;
	min-height: 218px;
	background-color: #CFA972;
	padding-bottom: 30px;
}

#u6211
{
	z-index: 38;
	width: 251px;
	height: 189px;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 11px;
	background: transparent url("/static/images/imagess.png") no-repeat left top;
	background-size: contain;
}

#u6210-bw
{
	z-index: 37;
	min-height: 218px;
}

#u6212-4
{
	z-index: 39;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 88px;
	left: 262px;
}

#u6213-48
{
	z-index: 43;
	width: 384px;
	min-height: 323px;
	background-color: transparent;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	margin-left: 52px;
	margin-top: 16px;
	position: relative;
}

#u6213-2,#u6213-8,#u6213-14,#u6213-26,#u6213-40
{
	font-size: 24px;
	line-height: 36px;
}

#u6213-3,#u6213-5,#u6213-6,#u6213-9,#u6213-11,#u6213-12,#u6213-15,#u6213-17,#u6213-19,#u6213-21,#u6213-23,#u6213-24,#u6213-27,#u6213-29,#u6213-31,#u6213-33,#u6213-35,#u6213-37,#u6213-38,#u6213-41,#u6213-43
{
	line-height: 21px;
}

#pu3378
{
	width: 0.01px;
}

#u3378
{
	z-index: 2;
	width: 480px;
	height: 301px;
	margin-right: -10000px;
	margin-top: 1px;
}

#u3484
{
	margin-top: 16px;
	margin-bottom: -16px;
}

#u3478
{
	z-index: 9;
	width: 330px;
}

#u3482
{
	z-index: 10;
	width: 118px;
	height: 16px;
	margin-right: -10000px;
	left: 106px;
}

#u3483
{
	z-index: 11;
	width: 330px;
	height: 51px;
	margin-right: -10000px;
	margin-top: 148px;
}

#u3480
{
	z-index: 12;
	width: 330px;
	height: 51px;
	margin-right: -10000px;
	margin-top: 87px;
}

#u3481
{
	z-index: 13;
	width: 330px;
	height: 51px;
	margin-right: -10000px;
	margin-top: 26px;
}

#u3479
{
	z-index: 14;
	width: 330px;
	height: 51px;
	margin-right: -10000px;
	margin-top: 208px;
}

#u3471-6,#u3471-6-bw
{
	z-index: 3;
	min-height: 291px;
}

body
{
	position: relative;
	min-width: 480px;
	padding-bottom: 17px;
}

#page .verticalspacer
{
	clear: both;
}

