.version.pro /* version checker */
{
	color: #0000E7;
	background-color: #DACD1E;
}

@-ms-viewport
{
	width: 480px;
}

@-webkit-viewport
{
	width: 480px;
}

@-o-viewport
{
	width: 480px;
}

@-moz-viewport
{
	width: 480px;
}

@viewport
{
	width: 480px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 480px;
	min-height: 650.9000000000001px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-bottom: -28px;
	width: 0.01px;
}

#u3905
{
	z-index: 17;
}

#u3906-6
{
	z-index: 18;
	min-height: 42px;
}

#u3906-6.AccordionPanelTabOpen
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 42px;
	margin: 0px;
}

#u6128
{
	z-index: 24;
	width: 105px;
}

#u6129
{
	z-index: 25;
	margin-bottom: -8px;
	width: 12px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 69px;
}

#u6131
{
	z-index: 27;
	width: 105px;
	margin-right: -10000px;
}

#u6132
{
	z-index: 28;
	width: 105px;
	margin-right: -10000px;
}

#u6133
{
	z-index: 29;
	width: 38px;
	height: 38px;
	margin-bottom: -3px;
	margin-right: -10000px;
	margin-top: -3px;
	left: -3px;
}

#u6134
{
	z-index: 30;
	width: 62px;
	height: 15px;
	margin-right: -10000px;
	left: 43px;
}

#u3907
{
	z-index: 32;
	padding-top: 3px;
	padding-bottom: 2px;
}

#buttonu3917
{
	z-index: 33;
	width: 480px;
	height: 28px;
}

#buttonu3917:hover
{
	width: 480px;
	height: 28px;
	min-height: 0px;
	margin: 0px;
}

#buttonu3917.ButtonSelected
{
	width: 480px;
	height: 28px;
	min-height: 0px;
	margin: 0px;
}

#buttonu3926
{
	z-index: 34;
	width: 480px;
	height: 28px;
	margin-top: 4px;
}

#buttonu3926:hover
{
	width: 480px;
	height: 28px;
	min-height: 0px;
	margin: 4px 0px 0px;
}

#buttonu3927
{
	z-index: 35;
	width: 480px;
	height: 30px;
	margin-top: 3px;
}

#buttonu3927:hover
{
	width: 480px;
	height: 30px;
	min-height: 0px;
	margin: 3px 0px 0px;
}

#buttonu3927.ButtonSelected
{
	width: 480px;
	height: 30px;
	min-height: 0px;
	margin: 3px 0px 0px;
}

#buttonu3928
{
	z-index: 36;
	width: 480px;
	height: 28px;
	margin-top: 4px;
}

#buttonu3926.ButtonSelected,#buttonu3928:hover
{
	width: 480px;
	height: 28px;
	min-height: 0px;
	margin: 4px 0px 0px;
}

#buttonu3928.ButtonSelected
{
	width: 480px;
	height: 28px;
	min-height: 0px;
	margin: 4px 0px 0px;
}

#accordionu3904,#accordionu3904-bw
{
	z-index: 16;
}

#u6142
{
	z-index: 37;
	min-height: 223px;
	background-color: #E5A8A8;
	padding-bottom: 25px;
}

#u6143
{
	z-index: 38;
	width: 251px;
	height: 189px;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 5px;
	background: transparent url("/static/images/smartss.png") no-repeat left top;
	background-size: contain;
}

#u6144-4
{
	z-index: 39;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 92px;
	left: 273px;
}

#u6142-bw
{
	z-index: 37;
	min-height: 223px;
	margin-top: 4px;
}

#slideshowu6177
{
	z-index: 43;
	width: 0.01px;
	height: 714px;
	margin-top: 3px;
	position: relative;
}

#u6179
{
	position: absolute;
	width: 480px;
	height: 324px;
	background-color: transparent;
}

#u6179popup
{
	z-index: 44;
}

#u6180
{
	z-index: 45;
	width: 480px;
	height: 324px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6182
{
	z-index: 47;
	width: 480px;
	height: 324px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6184
{
	z-index: 49;
	width: 480px;
	height: 324px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6197
{
	position: absolute;
	width: 480px;
	background-color: transparent;
	top: 337px;
}

#u6197popup
{
	z-index: 51;
}

#u6198-24
{
	z-index: 52;
	width: 460px;
	min-height: 357px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	color: #000000;
	text-align: justify;
	line-height: 20px;
	margin-right: -10000px;
	position: relative;
}

#u6200-4
{
	z-index: 76;
	width: 460px;
	min-height: 357px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	color: #000000;
	text-align: justify;
	line-height: 20px;
	margin-right: -10000px;
	position: relative;
}

#u6199-4
{
	z-index: 80;
	width: 460px;
	min-height: 357px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	color: #000000;
	text-align: justify;
	line-height: 20px;
	margin-right: -10000px;
	position: relative;
}

#u6198-2,#u6198-4,#u6198-5,#u6198-7,#u6198-9,#u6198-11,#u6198-13,#u6198-15,#u6198-17,#u6198-18,#u6198-20,#u6198-22,#u6200-2,#u6199-2
{
	padding-right: 20px;
	padding-left: 20px;
}

#u6202-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.8);
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 281px;
	left: 3px;
	-pie-background: rgba(255,255,255,0.8);
}

#u6202-4popup
{
	z-index: 84;
}

#u6202
{
	color: #999999;
}

#u6196-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.8);
	padding: 10px;
	color: #999999;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 281px;
	left: 37px;
	-pie-background: rgba(255,255,255,0.8);
}

#u6196-4popup
{
	z-index: 88;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("/static/images/loading.gif") no-repeat center center;
}

#pu3378
{
	width: 0.01px;
	margin-top: -1px;
}

#u3378
{
	z-index: 2;
	width: 480px;
	height: 301px;
	margin-right: -10000px;
	margin-top: 1px;
}

#u3484
{
	margin-top: 16px;
	margin-bottom: -16px;
}

#u3478
{
	z-index: 9;
	width: 330px;
}

#u3482
{
	z-index: 10;
	width: 118px;
	height: 16px;
	margin-right: -10000px;
	left: 106px;
}

#u3483
{
	z-index: 11;
	width: 330px;
	height: 51px;
	margin-right: -10000px;
	margin-top: 148px;
}

#u3480
{
	z-index: 12;
	width: 330px;
	height: 51px;
	margin-right: -10000px;
	margin-top: 87px;
}

#u3481
{
	z-index: 13;
	width: 330px;
	height: 51px;
	margin-right: -10000px;
	margin-top: 26px;
}

#u3479
{
	z-index: 14;
	width: 330px;
	height: 51px;
	margin-right: -10000px;
	margin-top: 208px;
}

#u3471-6,#u3471-6-bw
{
	z-index: 3;
	min-height: 291px;
}

body
{
	position: relative;
	min-width: 480px;
	padding-bottom: 17px;
}

#page .verticalspacer
{
	clear: both;
}

