.version.product /* version checker */
{
	color: #0000E5;
	background-color: #04F26A;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 657px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 20px;
	width: 0.01px;
}

#u988
{
	z-index: 2;
	min-height: 80px;
	padding-bottom: 28px;
}

#u989
{
	z-index: 3;
	width: 60px;
	height: 60px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 100px;
}

#u995
{
	z-index: 4;
	width: 116px;
	height: 27px;
	margin-right: -10000px;
	margin-top: 40px;
	left: 182px;
}

#u1482
{
	z-index: 9;
	width: 41px;
	height: 19px;
	margin-right: -10000px;
	margin-top: 48px;
	left: 747px;
}

#u1482:hover
{
	width: 41px;
	height: 19px;
	min-height: 0px;
	margin: 48px -10000px 0px 0px;
}

#u1489
{
	z-index: 10;
	width: 77px;
	height: 19px;
	margin-right: -10000px;
	margin-top: 48px;
	left: 818px;
}

#u1495
{
	z-index: 11;
	width: 77px;
	height: 19px;
	margin-right: -10000px;
	margin-top: 48px;
	left: 925px;
}

#u1501
{
	z-index: 12;
	width: 77px;
	height: 19px;
	margin-right: -10000px;
	margin-top: 48px;
	left: 1032px;
}

#u1489:hover,#u1495:hover,#u1501:hover
{
	width: 77px;
	height: 19px;
	min-height: 0px;
	margin: 48px -10000px 0px 0px;
}

#u988-bw
{
	z-index: 2;
	min-height: 80px;
}

#u1630
{
	z-index: 18;
	min-height: 220px;
	background-color: #E5A8A8;
	padding-bottom: 28px;
}

#u1630_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
	position: relative;
	left: -100px;
}

#u1634
{
	z-index: 19;
	width: 251px;
	height: 189px;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 269px;
	background: transparent url("../images/smartss.png") no-repeat left top;
	background-size: contain;
}

#u2189-4
{
	z-index: 73;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 97px;
	left: 612px;
}

#u1630-bw
{
	z-index: 18;
	min-height: 220px;
}

#slideshowu2063
{
	z-index: 20;
	width: 0.01px;
	height: 446px;
	margin-top: 7px;
	position: relative;
}

#u2080
{
	position: absolute;
	width: 616px;
	height: 405px;
	background-color: transparent;
	top: 1px;
}

#u2080popup
{
	z-index: 21;
}

#u2085
{
	z-index: 22;
	width: 616px;
	height: 405px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2085_img
{
	margin-top: -1px;
	margin-right: 7px;
}

#u2081
{
	z-index: 24;
	width: 616px;
	height: 405px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2083
{
	z-index: 26;
	width: 616px;
	height: 405px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2085_clip,#u2081_clip,#u2083_clip
{
	overflow: hidden;
	width: 616px;
	height: 405px;
}

#u2081_img,#u2083_img
{
	margin: -3px 1px -3px -1px;
}

#u2064
{
	position: absolute;
	width: 396px;
	background-color: transparent;
	left: 616px;
}

#u2064popup
{
	z-index: 28;
}

#u2067-24
{
	z-index: 29;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u2065-4
{
	z-index: 53;
	width: 376px;
	min-height: 426px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	line-height: 20px;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u2066-4
{
	z-index: 57;
	width: 376px;
	min-height: 426px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	line-height: 20px;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u2068-4
{
	position: absolute;
	width: 48px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 406px;
	left: 31px;
}

#u2068-4popup
{
	z-index: 61;
}

#u2088-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 406px;
}

#u2088-4popup
{
	z-index: 65;
}

#u2068,#u2088
{
	color: #999999;
}

#u2077-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 406px;
	left: 100px;
}

#u2077-4popup
{
	z-index: 69;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u1014
{
	z-index: 8;
	width: 1024px;
	height: 15px;
	margin-top: 9px;
}

#u999
{
	z-index: 5;
	min-height: 117px;
	padding-bottom: 35px;
}

#u988_align_to_page,#u999_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
	left: -100px;
}

#u2683
{
	z-index: 17;
	width: 198px;
	height: 61px;
	margin-right: -10000px;
	margin-top: 56px;
	left: 120px;
}

#pu2360
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 26px;
	margin-left: 382px;
}

#u2360
{
	z-index: 13;
	width: 118px;
	height: 16px;
	margin-left: 171px;
}

#pu2682
{
	width: 0.01px;
	margin-top: 14px;
}

#u2682
{
	z-index: 14;
	width: 198px;
	height: 61px;
	margin-right: -10000px;
}

#u2684
{
	z-index: 15;
	width: 198px;
	height: 61px;
	margin-right: -10000px;
	left: 262px;
}

#u2687
{
	z-index: 16;
	width: 198px;
	height: 61px;
	margin-right: -10000px;
	margin-top: 56px;
	left: 906px;
}

#u999-bw
{
	z-index: 5;
	min-height: 117px;
	margin-top: 3px;
}

#u1012
{
	z-index: 7;
	width: 52px;
	height: 16px;
	margin-left: 486px;
	margin-top: 12px;
}

#u1010
{
	z-index: 6;
	width: 194px;
	height: 14px;
	margin-left: 415px;
	margin-top: 9px;
}

body
{
	position: relative;
	min-width: 1024px;
}

#page .verticalspacer
{
	clear: both;
}

